<h1>Register</h1>

<form action="/web/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    
    <label for="user_name">Username</label>
    <input type="text " id="user_name" name="user[user_name]" value="<%= @user.user_name %>">

    <label for="full_name">Full name</label>
    <input type="text" id="full_name" name="user[full_name]" value="<%= @user.full_name %>">

    <label for="email">Email</label>
    <input type="email" id="email" name="user[user_email]" value="<%= @user.user_email %>">

    <label for="password">Password</label>
    <input type="password" id="password" name="user[password]" value="<%= @user.password %>">
    
    <input type="submit" value="Register">

</form>